<ion-content [fullscreen]="true">
  <ion-title style="margin-top: 5rem">Rainbow Rays</ion-title>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button routerLink="/tabs/create-rainbowRays" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngFor="let rainbowRaysItem of rainbowRay" style="margin-top: 5rem">
    <app-rainbow-rays
      [rainbowRay]="rainbowRaysItem"
      (deleteEvent)="deleteRainbowRay($event)"
    ></app-rainbow-rays>
  </div>
</ion-content>
