<ion-content [fullscreen]="true">
  <ion-title> Create an Account</ion-title>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item lines="none">
      <ion-input
        type="text"
        formControlName="first_name"
        label="First Name"
        labelPlacement="floating"
      ></ion-input>
      <ion-icon name="person-outline"> </ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-input
        type="text"
        formControlName="last_name"
        label="Last Name"
        labelPlacement="floating"
      ></ion-input>
      <ion-icon name="person-outline"> </ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-input
        type="email"
        formControlName="email"
        label="Email"
        labelPlacement="floating"
      ></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-input
        type="password"
        label="Password"
        labelPlacement="floating"
        formControlName="password"
      ></ion-input>
      <ion-icon name="lock-closed-outline"> </ion-icon>
    </ion-item>
    <div style="text-align: center">
      <button type="submit" class="ion-button">Sign Up</button>
    </div>
  </form></ion-content
>
<ion-footer class="ion-no-border"
  ><ion-img src="../../../assets/signupp.png"></ion-img
></ion-footer>
