ion-title {
  margin-top: 2rem;
  text-align: center;
  font-family: cursive;
<<<<<<< HEAD
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(84, 45, 93);
=======
  font-size: 3rem;
  color: rgb(0, 0, 0);
>>>>>>> 545b9fb9a32ba8404f27613f02ca3f08c58c6fcd
  letter-spacing: 3px;
  font-style: initial;
  margin-bottom: 7rem;
}
ion-fab {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

ion-content {
<<<<<<< HEAD
  --background: rgb(242, 238, 255);
}
ion-fab-button {
  --background: rgb(84, 45, 93);
=======
  --background: rgb(255, 249, 241);
}
ion-fab-button {
  --background: rgb(230, 95, 43);
>>>>>>> 545b9fb9a32ba8404f27613f02ca3f08c58c6fcd
  --background-activated: #87d361;
  --background-hover: #597a49;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}
ion-icon {
<<<<<<< HEAD
  color: aliceblue;
=======
  color: rgb(223, 226, 135);
>>>>>>> 545b9fb9a32ba8404f27613f02ca3f08c58c6fcd
  font-weight: bolder;
  font-size: 2rem;
}
