ion-item {
  font-family: cursive;
<<<<<<< HEAD
  --background: rgb(255, 231, 153);
  color: rgb(0, 0, 0);
}

ion-select-option {
  font-family: cursive;
}

ion-range::part(tick) {
  background: rgb(35, 29, 18);
}

ion-range::part(tick-active) {
  background: rgb(63, 9, 13);
}

ion-range::part(pin) {
  font-size: 0.9rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgb(254, 212, 153);
  color: rgb(55, 38, 22);
  border-radius: 50%;
  transform: scale(1.01);
  top: -20px;
  min-width: 28px;
  height: 28px;
  transition: transform 120ms ease, background 120ms ease;
}

ion-range::part(pin)::before {
  content: none;
}

ion-range::part(knob) {
  background: rgb(225, 81, 77);
}

ion-range::part(bar) {
  background: rgb(138, 117, 72);
}

ion-range::part(bar-active) {
  background: rgb(225, 81, 77);
}

ion-card {
  --background: rgb(255, 231, 153);
  border-radius: 2rem;
}
ion-list {
  background-color: rgb(255, 231, 153);
=======
  --background: rgb(235, 243, 255);
  color: rgb(0, 0, 0);
}
ion-toolbar {
  --background: rgb(249, 255, 243);
}
ion-select-option {
  font-family: cursive;
}
ion-range {
  &::part(tick) {
    background-color: #4582ba;
    height: 4px;
  }

  &::part(tick-active) {
    --bar-background: indigo;
  }

  &::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --pin-background: rgb(103, 135, 190);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transform: scale(1.01);
    font-size: 1rem;

    top: -20px;

    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;

    &::before {
      content: none;
    }
  }

  &::part(knob) {
    --knob-background: #ff0062;
  }

  &::part(bar) {
    --bar-background: rgb(56, 61, 56);
  }

  &::part(bar-active) {
    --bar-background-active: indigo;
  }
}
ion-card {
  --background: rgb(235, 243, 255);
  border-radius: 2rem;
}
ion-list {
  background-color: rgb(235, 243, 255);
>>>>>>> 545b9fb9a32ba8404f27613f02ca3f08c58c6fcd
}
.container {
  display: flex;
  width: 100%;
}
.left-elements {
  text-align: center;
  flex: 2.5;
  padding: 0 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.right-element {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
span {
  font-size: 1.8rem;
}
.date {
  padding: 5px 20px;
  border-radius: 1rem;
<<<<<<< HEAD
  background-color: rgb(254, 212, 153);
  color: rgb(55, 38, 22);
=======
  background-color: rgb(223, 226, 135);
  color: rgb(51, 132, 239);
>>>>>>> 545b9fb9a32ba8404f27613f02ca3f08c58c6fcd
  font-size: 0.9rem;
  font-weight: 600;
}
hr {
  margin-bottom: 2rem;
<<<<<<< HEAD
  border-top: 1px solid rgb(255, 208, 142);
=======
  border-top: 1px solid rgb(103, 135, 190);
>>>>>>> 545b9fb9a32ba8404f27613f02ca3f08c58c6fcd
}
.delete {
  background-color: rgb(247, 0, 0);
}
.edit {
  background-color: rgb(255, 101, 40);
}
